*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
.env.local
deploymentTargetSelector.xml
runConfigurations.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
vcs.xml
